/* Define standard variables and values for website */
//old primary color $primary:                     #565756;
$primary:                     #005084;
//its a main background color 
$page-wrapper-background:     #fbfcfb;
$white:                       #ffffff;
$off-white:                   #f4f5f4;
$gray-2:                      #6d7688;
$gray:                        #7c8494;
